* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: #070331
}

.top-header {
    text-align:left;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #070331;
}

.h4-class {
    color: rgb(136, 167, 194);
}

.h1-class {
    color: rgb(24, 146, 150);
    padding: 10px 0px;
    font-weight: bolder;
    font-size: 40px;
}

.avatar {
    display:flex;
    align-items: center; 
    justify-content: center;
    margin-top: -100px;
}

nav {
  display: flex;
  background-color: #070331;
  justify-content: flex-end;
}

nav a {
  color: rgb(24, 146, 150);
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-top: -50px;
}

Nav a:hover {
  color:aqua;
  font-weight: bolder;
}


main {
    display: flex;
    flex-wrap: wrap;
    border-top: 5px solid #1a0f96;
}

aside {
  flex: 1;
  background-color: #1a0f96;
  padding: 10px 10px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 0 48px;
}

.image-container {
  position: relative;
}

.info-box {
  display:none;
  left: 100%;
  top: 10%;
  position:absolute;
  width: 200px;
  background-color: aqua;
  color: #1a0f96;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  z-index: 1;
  font-size: 12px;
}

.image-container:hover .info-box {
  display: block;
}

section {
  flex: 9;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.content {
    color: rgb(136, 167, 194)
}

article p {
  margin: 10px;
  line-height: 1.5;
}

article {
  padding: 20px;
}

.large-image {
  flex: 2 0 200px;
  padding: 2%;
  border: 2px solid rgb(24, 146, 150);
  border-radius: 20px;
  width: 100%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.small-image {
  flex: 1 0 200px;
  padding: 2%;
  border: 2px solid rgb(24, 146, 150);
  border-radius: 20px;
  height: 200px;
  min-width: 25%;
}
