* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.top-header {
    text-align:left;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #070331;
}

.h4-class {
    color: rgb(136, 167, 194);
}

.h1-class {
    color: rgb(24, 146, 150);
    padding: 10px 0px;
    font-weight: bolder;
    font-size: 40px;
}

nav {
  display: flex;
  background-color: #070331;
  justify-content: flex-end;
}

nav a {
  color: rgb(24, 146, 150);
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #1a0f96;
  padding: 20px;
}

section {
  flex: 9;
  background-color: #fff;
  padding: 20px;
}